# Fichiers Python
.venv
venv/
__pycache__/
*.pyc

# Variables d'environnement
.env

# Data
/docs
/docs/
/docs/*.json
data/
data/
data/*.json

# Archive
archive

# Autres fichiers
*.json
*.ipynb
*.faiss
